Repository ridwan094/digiroom-fe-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-digiroom-news.yml, azure-pipelines.yml

azure-pipelines-digiroom-news.yml:

name: $(Date:yyyyMMdd).$(Rev:r) # Custom build numbering format

trigger:
  branches:
    include:
      - devops
      - feat/*
  paths:
    exclude:
      - 'apps/boilerplate/*'
      - 'apps/digiroom/*'
      - 'apps/digiroom-cms/*'
      - 'apps/digiroom-new-car-purchase/*'
      - 'apps/digiroom-promo/*'
    include:
      - 'apps/digiroom-news/*'

pool:
  vmImage: ubuntu-latest

jobs:
- job: BuildAndDeploy
  displayName: 'Build and Deploy'
  steps:
  - task: PowerShell@2
    inputs:
      targetType: 'inline'
      script: |
      arguments: 
        npm install
  - task: Docker@2
    inputs:
      containerRegistry: 'Docker hub connection'
      repository: 'dig'
      command: 'buildAndPush'
      Dockerfile: '/apps/digiroom-new/Dockerfile'
      tags: |
        $(Build.BuildId)
    displayName: 'Build and Push Docker Image'

azure-pipelines.yml:

name: $(BuildID)

trigger:
  branches:
    include:
      - devops
      - feat/*
  paths:
    exclude:
      - 'apps/boilerplate/*'
      - 'apps/digiroom/*'
      - 'apps/digiroom-cms/*'
      - 'apps/digiroom-new-car-purchase/*'
      - 'apps/digiroom-news/*'
      - 'apps/digiroom-promo/*'

pool:
  vmImage: ubuntu-latest

jobs:
- job: BuildAndInstall
  steps:
  - checkout: self
    persistCredentials: true
  - script: |
      cd ../../
      npm install
    displayName: 'Change Directory and npm install'
    
- job: BuildBoilerplate
  steps:
  - checkout: self
    persistCredentials: true
  - script: |
      cd apps/boilerplate
      npm install
      # Add your build steps for boilerplate here
    displayName: 'Build Boilerplate'
    condition: eq(variables['Build.SourceBranch'], 'refs/heads/devops') # Build only on 'devops' branch
    
- job: BuildDigiroom
  steps:
  - checkout: self
    persistCredentials: true
  - script: |
      cd apps/digiroom
      npm install
      # Add your build steps for digiroom here
    displayName: 'Build Digiroom'
    condition: startsWith(variables['Build.SourceBranch'], 'refs/heads/feat/') # Build only on 'feat/*' branches

Enhance news and articles page
  apps/digiroom-news/src/constants/news.js
  apps/digiroom-news/src/pages/_app.js
  apps/digiroom-news/src/pages/articles/[slug]/index.js
  apps/digiroom-news/src/pages/articles/index.js
  apps/digiroom-news/src/pages/index.js
  apps/digiroom-news/src/styles/globals.css
  apps/digiroom-news/tailwind.config.js
  packages/shared/ui/components/atoms/Tag/Tag.js
  packages/shared/ui/components/molecules/ArticleList/index.js
  packages/shared/ui/components/molecules/CardNews/index.js
  packages/shared/ui/components/molecules/OtherArticles/index.js
  packages/shared/ui/components/molecules/OtherPromo/carousel.css
  packages/shared/ui/components/molecules/OtherPromo/index.js
  packages/shared/ui/components/molecules/TabBar/index.js
  packages/shared/ui/components/molecules/index.js
  packages/shared/ui/components/organism/ArticleListFaqSection/index.js
  packages/shared/ui/components/organism/ArticleListHeroSection/index.js
  packages/shared/ui/components/organism/ArticleListTabSection/index.js
  packages/shared/ui/components/organism/DetailArticleAnotherArticlesSection/index.js
  packages/shared/ui/components/organism/DetailArticleAnotherPromoSection/index.js
  packages/shared/ui/components/organism/DetailArticleBodySection/index.js
  packages/shared/ui/components/organism/DetailArticleHeroSection/index.js
  packages/shared/ui/components/organism/ListArtikel/index.js
  packages/shared/ui/components/organism/index.js
Due: azure-pipelines-digiroom-news.yml, azure-pipelines.yml

Update font size for desktop screen
  packages/shared/ui/components/organism/DetailArticleBodySection/index.js
  packages/shared/ui/components/organism/DetailPromoBodySection/index.js
Due: azure-pipelines.yml

create dynamic menu sidebar
  apps/digiroom-cms/src/components/CMSSidebar.js
  apps/digiroom-cms/src/constants/menu/index.js
Due: none

fix protected route
  apps/digiroom-cms/src/components/ProtectedRoute/index.js
  apps/digiroom-cms/src/helpers/utils/AuthContext.js
  apps/digiroom-cms/src/pages/_app.js
Due: none

integration authentication cms
  apps/digiroom-cms/src/helpers/utils/AuthContext.js
  apps/digiroom-cms/src/pages/api/login.js
  apps/digiroom-cms/src/pages/login/index.js
Due: none

add ProductKnowledgeFeatureCard molecule
  packages/shared/ui/components/molecules/ProductKnowledgeFeatureCard/index.js
  packages/shared/ui/components/molecules/index.js
Due: azure-pipelines.yml

add ProductKnowledgeSpecCard molecule
  packages/shared/ui/components/molecules/ProductKnowledgeSpecCard/index.js
Due: azure-pipelines.yml

adjustment footer & quicklink due to updated UI
  packages/shared/ui/assets/images/Auto2000-footer.webp
  packages/shared/ui/assets/images/footer-mobile.webp
  packages/shared/ui/assets/images/index.js
  packages/shared/ui/components/molecules/QuickLink/index.js
  packages/shared/ui/components/organism/Footer/index.js
  packages/shared/ui/index.js
Due: azure-pipelines.yml

create upload image to azure storage
  apps/digiroom-cms/src/components/LayoutForm/Dropzone/index.js
  apps/digiroom-cms/src/components/LayoutForm/index.js
  apps/digiroom-cms/src/constants/index.js
  apps/digiroom-cms/src/pages/promo/add-promo/index.js
  apps/digiroom-cms/src/pages/promo/index.js
  apps/digiroom-cms/src/service/azure/fileUpload.js
Due: none

add recomendation card & recomendation section
  apps/digiroom-product-knowledge/package-lock.json
  package-lock.json
  packages/shared/ui/components/molecules/RecommedationCard/index.js
  packages/shared/ui/components/molecules/index.js
  packages/shared/ui/components/organism/ProductKnowledgeRecommendationSection/index.js
  packages/shared/ui/components/organism/index.js
Due: azure-pipelines.yml

changing table to dynamic
  apps/digiroom-cms/src/components/Table/index.js
  apps/digiroom-cms/src/constants/implement-table/index.js
  apps/digiroom-cms/src/constants/promo/index.js
  apps/digiroom-cms/src/pages/api/promo-dashboard.js
  apps/digiroom-cms/src/pages/login/index.js
  apps/digiroom-cms/src/pages/modal-filter/index.js
  apps/digiroom-cms/src/pages/modal-text/index.js
  apps/digiroom-cms/src/pages/promo/index.js
Due: none

delete comment
  apps/digiroom-cms/src/components/Table/index.js
Due: none

resolve conflict in router.push
  apps/digiroom-cms/src/pages/promo/index.js
Due: none

delete console.log
  apps/digiroom-cms/src/pages/promo/index.js
Due: none

add detail product knowledge section
  apps/digiroom-product-knowledge/public/images/avanza-matic.webp
  apps/digiroom-product-knowledge/src/pages/product-knowledge/[slug]/index.js
  packages/shared/ui/components/molecules/ProductKnowledgeFeatureCard/index.js
  packages/shared/ui/components/molecules/ProductKnowledgeSpecCard/index.js
  packages/shared/ui/components/molecules/index.js
  packages/shared/ui/components/organism/DetailProductKnowledgeBodySection/index.js
  packages/shared/ui/components/organism/DetailProductKnowledgeHeroSection/index.js
  packages/shared/ui/components/organism/index.js
Due: azure-pipelines.yml

fix commented line
  apps/digiroom-cms/.env.local
  apps/digiroom-cms/.gitignore
  apps/digiroom-cms/src/components/ProtectedRoute/index.js
  apps/digiroom-cms/src/pages/modal-filter/index.js
  apps/digiroom-cms/src/pages/promo/index.js
  apps/digiroom-cms/src/service/auth/index.js
  apps/digiroom-cms/src/service/promo-dashboard-homepage/promo-dashboard.js
Due: none

remove unnecessary line code
  apps/digiroom-cms/src/pages/modal-filter/index.js
Due: none

fix for service inside login page
  apps/digiroom-cms/src/components/ProtectedRoute/index.js
  apps/digiroom-cms/src/pages/login/index.js
  apps/digiroom-cms/src/service/auth/login.js
Due: none

Bug fixing and use data dummy in api folder for the meantime
  apps/digiroom-cms/src/components/Table/index.js
  apps/digiroom-cms/src/constants/implement-table/index.js
  apps/digiroom-cms/src/constants/promo/index.js
  apps/digiroom-cms/src/pages/api/list-dashboard-promo.js
  apps/digiroom-cms/src/pages/modal-filter/index.js
  apps/digiroom-cms/src/pages/modal-text/index.js
  apps/digiroom-cms/src/pages/promo/index.js
  apps/digiroom-cms/src/service/promo-dashboard-homepage/promo-dashboard.js
Due: none

add axios and make the table use api from next js in local
  apps/digiroom-cms/src/pages/api/list-dashboard-promo.js
  apps/digiroom-cms/src/pages/promo/index.js
  apps/digiroom-cms/src/service/apiCMS/api-config.js
  apps/digiroom-cms/src/service/apiCMS/index.js
  apps/digiroom-cms/src/service/promo-dashboard-homepage/promo-dashboard.js
  package.json
Due: azure-pipelines.yml

update table crud with data example api, adding axios configuration
  apps/digiroom-cms/src/pages/promo/index.js
  apps/digiroom-cms/src/service/apiCMS/api-config.js
  apps/digiroom-cms/src/service/apiCMS/index.js
  apps/digiroom-cms/src/service/promo-dashboard-homepage/promo-dashboard.js
Due: none

delete unnecessary function and commented line
  apps/digiroom-cms/src/pages/promo/index.js
Due: none

Fixing UI new & tips page
  apps/digiroom-news/src/pages/index.js
  packages/shared/ui/components/molecules/ArticleList/index.js
  packages/shared/ui/components/molecules/CardNews/index.js
Due: azure-pipelines-digiroom-news.yml, azure-pipelines.yml

fix navbar & detail article
  apps/digiroom-news/src/constants/news.js
  apps/digiroom-news/src/pages/[slug]/index.js
  apps/digiroom-news/src/pages/articles/[slug]/index.js
  apps/digiroom-news/src/pages/articles/index.js
  packages/shared/ui/assets/images/digiroom.webp
  packages/shared/ui/components/atoms/CheckBox/index.js
  packages/shared/ui/components/atoms/Icons/Xlogo/index.js
  packages/shared/ui/components/molecules/ArticleList/index.js
  packages/shared/ui/components/molecules/Breadcrumbs/index.js
  packages/shared/ui/components/molecules/CardNews/index.js
  packages/shared/ui/components/molecules/InfoDigiroom/index.js
  packages/shared/ui/components/molecules/OtherArticles/index.js
  packages/shared/ui/components/molecules/OtherPromo/index.js
  packages/shared/ui/components/organism/ArticleListHeroSection/index.js
  packages/shared/ui/components/organism/ArticleListTabSection/index.js
  packages/shared/ui/components/organism/DetailArticleAnotherArticlesSection/index.js
  packages/shared/ui/components/organism/DetailArticleAnotherPromoSection/index.js
  packages/shared/ui/components/organism/DetailArticleBodySection/index.js
  packages/shared/ui/components/organism/DetailArticleHeroSection/index.js
  packages/shared/ui/components/organism/Navbar/index.js
  packages/shared/ui/components/organism/SocialMediaLinksSection/index.js
Due: azure-pipelines-digiroom-news.yml, azure-pipelines.yml

Add product knowledge banner section component
  packages/shared/ui/components/organism/ProductKnowledgeBannerSection/index.js
  packages/shared/ui/components/organism/index.js
Due: azure-pipelines.yml

feat: integration login cms
  apps/digiroom-cms/.env.local
  apps/digiroom-cms/src/components/Login/index.js
  apps/digiroom-cms/src/pages/login/index.js
  apps/digiroom-cms/src/service/apiCMS/index.js
  apps/digiroom-cms/src/service/auth/login.js
Due: none

create ProductKnowledgeOfferCard
  apps/digiroom-product-knowledge/src/pages/test/index.js
  packages/shared/ui/assets/images/index.js
  packages/shared/ui/assets/images/success.gif
  packages/shared/ui/components/molecules/OfferCard/index.js
  packages/shared/ui/components/molecules/OtpForm/index.js
  packages/shared/ui/components/molecules/index.js
Due: azure-pipelines.yml

delete test page
  apps/digiroom-product-knowledge/src/pages/test/index.js
Due: azure-pipelines.yml

Update breakpoint on large screen
  apps/digiroom-promo/tailwind.config.js
Due: none

Fix navbar padding
  packages/shared/ui/components/organism/Navbar/index.js
Due: azure-pipelines.yml

Add pagination on promo list page
  packages/shared/ui/components/atoms/Pagination/index.js
  packages/shared/ui/components/organism/TabbarPromo/index.js
Due: azure-pipelines.yml

Update style on promo page as on figma
  apps/digiroom-promo/src/pages/_app.js
  apps/digiroom-promo/src/pages/index.js
  apps/digiroom-promo/src/pages/promo/[slug]/index.js
  apps/digiroom-promo/src/pages/promo/index.js
  packages/shared/ui/components/atoms/Accordion/Accordion.js
  packages/shared/ui/components/atoms/BtnConfirm/index.js
  packages/shared/ui/components/atoms/Dropdown/index.js
  packages/shared/ui/components/atoms/Icons/TiktokIcon/index.js
  packages/shared/ui/components/atoms/Input/index.js
  packages/shared/ui/components/atoms/Modal/index.js
  packages/shared/ui/components/atoms/OtpInput/index.js
  packages/shared/ui/components/atoms/Tag/Tag.js
  packages/shared/ui/components/atoms/index.js
  packages/shared/ui/components/molecules/CardPromo/CardPromo.js
  packages/shared/ui/components/molecules/InquiryForm/index.js
  packages/shared/ui/components/molecules/OtherPromo/index.js
  packages/shared/ui/components/molecules/OtpForm/index.js
  packages/shared/ui/components/organism/DetailPromoAnotherPromoSection/index.js
  packages/shared/ui/components/organism/DetailPromoBodySection/index.js
  packages/shared/ui/components/organism/DetailPromoHeroSection/index.js
  packages/shared/ui/components/organism/DetailPromoInquiryFormSection/index.js
  packages/shared/ui/components/organism/InquiryFormMobileSection/index.js
  packages/shared/ui/components/organism/PromoBannerSection/index.js
  packages/shared/ui/components/organism/SocialMediaLinksSection/index.js
  packages/shared/ui/components/organism/index.js
Due: azure-pipelines.yml

Change color class name
  packages/shared/ui/components/atoms/Input/index.js
Due: azure-pipelines.yml

Remove console log
  packages/shared/ui/components/organism/DetailPromoInquiryFormSection/index.js
Due: azure-pipelines.yml

add recommendation to detail product knowledge
  apps/digiroom-product-knowledge/src/pages/product-knowledge/[slug]/index.js
  packages/shared/ui/components/molecules/ProductKnowledgeFeatureCard/index.js
  packages/shared/ui/components/organism/ProductKnowledgeRecommendationSection/index.js
Due: azure-pipelines.yml

Fix navbar and breadcrumb layout so it's inline within container
  packages/shared/ui/components/molecules/Breadcrumbs/index.js
  packages/shared/ui/components/organism/Navbar/index.js
Due: azure-pipelines.yml

add inquiry success page
  packages/shared/ui/assets/images/icon-success-inquiry.webp
  packages/shared/ui/assets/images/index.js
  packages/shared/ui/components/organism/InquirySuccess/InquirySuccess.js
Due: azure-pipelines.yml

adjust style on success inquiry component and page
  apps/digiroom-promo/src/pages/promo/[slug]/index.js
  packages/shared/ui/components/atoms/Icons/SuccessIcon/index.js
  packages/shared/ui/components/organism/DetailPromoAnotherPromoSection/index.js
  packages/shared/ui/components/organism/InquirySuccess/InquirySuccess.js
Due: azure-pipelines.yml

fix style on promo page
  packages/shared/ui/components/organism/PromoInfoSection/index.js
  packages/shared/ui/components/organism/SocialMediaLinksSection/index.js
Due: azure-pipelines.yml
