Repository ridwan094/digiroom-fe-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-digiroom-news.yml, azure-pipelines.yml

azure-pipelines-digiroom-news.yml:
  name: $(Date:yyyyMMdd).$(Rev:r)
  pool:
    vmImage: ubuntu-latest
  jobs:
  - job: BuildAndDeploy
    displayName: Build and Deploy
    steps:
    - task: PowerShell@2
      inputs:
        targetType: inline
        script: ''
        arguments: npm install
    - task: Docker@2
      inputs:
  ...

azure-pipelines.yml:
  name: $(BuildID)
  pool:
    vmImage: ubuntu-latest
  jobs:
  - job: BuildAndInstall
    steps:
    - checkout: self
      persistCredentials: true
    - script: 'cd ../../
  
        npm install
  
        '
      displayName: Change Directory and npm install
  - job: BuildBoilerplate
    steps:
    - checkout: self
  ...

Update tag on card promo
  packages/shared/ui/components/atoms/Tag/Tag.js
  packages/shared/ui/components/molecules/CardPromo/CardPromo.js
Due: azure-pipelines.yml

remove console.log in dashboard-promo
  apps/digiroom-cms/src/pages/dashboard-promo/index.js
Due: none

change from class to className
  apps/digiroom-cms/src/pages/dashboard-news-and-tips/index.js
Due: none

Add Compnt BreadCrumbs in dash tips and news cms
  apps/digiroom-cms/src/pages/dashboard-news-and-tips/index.js
Due: none

Update folder naming
  .scannerwork/.sonar_lock
  .scannerwork/report-task.txt
  .vscode/settings.json
Due: azure-pipelines.yml

Add Devops
  boilerplate.Dockerfile
  digiroom-cms.Dockerfile
  digiroom-new-car-purchase.Dockerfile
  digiroom-news.Dockerfile
  digiroom-promo.Dockerfile
  digiroom.Dockerfile
Due: azure-pipelines.yml

add promo cms creation page
  apps/digiroom-cms/src/components/LayoutForm/Dropzone/index.js
  apps/digiroom-cms/src/components/LayoutForm/Select/index.js
  apps/digiroom-cms/src/components/LayoutForm/index.js
  apps/digiroom-cms/src/components/LayoutSection/Accordion/index.js
  apps/digiroom-cms/src/components/LayoutSection/LayoutPagePromo/index.js
  apps/digiroom-cms/src/components/LayoutSection/index.js
  apps/digiroom-cms/src/helpers/utils/slug/index.js
  apps/digiroom-cms/src/pages/promo/index.js
  apps/digiroom-cms/src/styles/globals.css
  package-lock.json
  package.json
  packages/shared/ui/components/atoms/Editor/index.js
  packages/shared/ui/components/atoms/index.js
  packages/shared/ui/components/molecules/Breadcrumbs/index.js
Due: azure-pipelines.yml

fix htmlfor
  apps/digiroom-cms/src/components/LayoutForm/index.js
Due: none

fix icon date
  apps/digiroom-cms/src/components/LayoutForm/index.js
Due: none

fix classname
  apps/digiroom-cms/src/components/LayoutForm/index.js
Due: none

fix hydration
  apps/digiroom-cms/src/components/LayoutSection/Accordion/index.js
  apps/digiroom-cms/src/components/LayoutSection/LayoutPagePromo/index.js
Due: none

fix editor quill
  apps/digiroom-cms/src/components/LayoutForm/index.js
  packages/shared/ui/components/atoms/Editor/index.js
Due: azure-pipelines.yml

fix error
  packages/shared/ui/components/atoms/index.js
Due: azure-pipelines.yml

CRUD faq promo
  apps/digiroom-cms/src/components/FaqPromo.js
  apps/digiroom-cms/src/components/Login.js
  apps/digiroom-cms/src/pages/promo/faq/index.js
Due: none

- move dashboard promo to folder promo - create promo preview
  apps/digiroom-cms/src/components/CMSSidebar.js
  apps/digiroom-cms/src/components/LayoutForm/index.js
  apps/digiroom-cms/src/pages/promo/add-promo/index.js
  apps/digiroom-cms/src/pages/promo/index.js
  apps/digiroom-cms/src/pages/promo/preview/index.js
Due: none

move dashboard-news-and-tips to article
  apps/digiroom-cms/src/components/CMSSidebar.js
  apps/digiroom-cms/src/pages/article/index.js
Due: none

create reusable component for table
  apps/digiroom-cms/src/components/Table/index.js
  apps/digiroom-cms/src/constants/implement-table/index.js
  apps/digiroom-cms/src/pages/implement-table/index.js
Due: none

Add add tips and news cms page
  apps/digiroom-cms/src/components/LayoutForm/LayoutFormPageNewsAndTips/index.js
  apps/digiroom-cms/src/components/LayoutForm/Select/index.js
  apps/digiroom-cms/src/pages/news-and-tips/add-news-and-tips/index.js
  apps/digiroom-cms/src/pages/news-and-tips/index.js
  apps/digiroom-cms/src/pages/tambah-news-tips/index.js
Due: none

Fix change folder to article root folder
  apps/digiroom-cms/src/pages/article/add-article/index.js
  apps/digiroom-cms/src/pages/article/index.js
  apps/digiroom-cms/src/pages/news-and-tips/index.js
Due: none

Fix comment (del folder not used)
  apps/digiroom-cms/src/pages/news-and-tips/index.js
  apps/digiroom-cms/src/pages/tambah-news-tips/index.js
Due: none

push the toggle is still not working
  apps/digiroom-cms/src/components/Table/index.js
  apps/digiroom-cms/src/constants/title-promo-dashboard/index.js
  apps/digiroom-cms/src/pages/index.js
  apps/digiroom-cms/src/pages/promo/index.js
  packages/shared/ui/components/atoms/Toogle/index.js
Due: azure-pipelines.yml

Enhance detail promo page
  apps/digiroom-promo/src/pages/promo/[slug]/index.js
  apps/digiroom-promo/src/pages/promo/index.js
  apps/digiroom-promo/src/pages/promo/inquiry/success/index.js
  packages/shared/ui/components/atoms/BtnConfirm/index.js
  packages/shared/ui/components/atoms/Icons/FacebookIcon/index.js
  packages/shared/ui/components/atoms/Icons/TwitterIcon/index.js
  packages/shared/ui/components/atoms/Text/Head4.js
  packages/shared/ui/components/atoms/Text/Head6.js
  packages/shared/ui/components/atoms/index.js
  packages/shared/ui/components/molecules/Breadcrumbs/index.js
  packages/shared/ui/components/molecules/CardPromo/CardPromo.js
  packages/shared/ui/components/molecules/InquiryForm/index.js
  packages/shared/ui/components/molecules/OtherPromo/index.js
  packages/shared/ui/components/molecules/OtpForm/index.js
  packages/shared/ui/components/organism/DetailPromoAnotherPromoSection/index.js
  packages/shared/ui/components/organism/DetailPromoBodySection/index.js
  packages/shared/ui/components/organism/DetailPromoHeroSection/index.js
  packages/shared/ui/components/organism/DetailPromoInquiryFormSection/index.js
  packages/shared/ui/components/organism/InquirySuccess/InquirySuccess.js
  packages/shared/ui/components/organism/SocialMediaLinksSection/index.js
  packages/shared/ui/components/organism/TabbarPromo/index.js
  packages/shared/ui/components/organism/index.js
Due: azure-pipelines.yml

activated loading in the table
  apps/digiroom-cms/src/components/Table/index.js
  apps/digiroom-cms/src/pages/promo/index.js
Due: none

implement function onToggle in table
  apps/digiroom-cms/src/components/Table/index.js
  apps/digiroom-cms/src/constants/implement-table/index.js
  apps/digiroom-cms/src/pages/implement-table/index.js
  apps/digiroom-cms/src/pages/promo/index.js
Due: none

create authentication for cms
  apps/digiroom-cms/src/components/CMSHeader.js
  apps/digiroom-cms/src/helpers/utils/AuthContext.js
  apps/digiroom-cms/src/pages/_app.js
  apps/digiroom-cms/src/pages/login/index.js
Due: none

create mobile check responsive
  apps/digiroom-cms/src/constants/screen-breakpoint.js
  apps/digiroom-cms/src/pages/_app.js
  apps/digiroom-cms/src/store/index.js
  apps/digiroom-cms/src/store/page/actions.js
  apps/digiroom-cms/src/store/page/constants.js
  apps/digiroom-cms/src/store/page/reducer.js
Due: none

remove from cms and add into web
  apps/digiroom-cms/src/pages/_app.js
  apps/digiroom/src/constants/screen-breakpoints.js
  apps/digiroom/src/pages/_app.js
  apps/digiroom/src/store/page/actions.js
  apps/digiroom/src/store/page/constants.js
  apps/digiroom/src/store/page/reducer.js
Due: none

fix app with wrapper redux
  apps/digiroom-cms/src/store/index.js
  apps/digiroom/src/pages/_app.js
  apps/digiroom/src/store/index.js
Due: none

add static edit festure & fix some bugs
  apps/digiroom-cms/src/pages/promo/faq/index.js
Due: none

remove console log
  apps/digiroom/src/pages/_app.js
Due: none

change the table into a component based, fixing the layout of the table for smaller screen and fixing the toggle problem
  apps/digiroom-cms/src/components/Table/index.js
  apps/digiroom-cms/src/constants/implement-table/index.js
  apps/digiroom-cms/src/pages/implement-table/index.js
  apps/digiroom-cms/src/pages/promo/index.js
  packages/shared/ui/components/atoms/Toogle/index.js
Due: azure-pipelines.yml

delete unnecessary folder and add new constant to organize the data
  apps/digiroom-cms/src/constants/implement-table/index.js
  apps/digiroom-cms/src/constants/promo/index.js
  apps/digiroom-cms/src/constants/title-promo-dashboard/index.js
  apps/digiroom-cms/src/pages/dashboard-promo/index.js
  apps/digiroom-cms/src/pages/promo/index.js
Due: none

add fitur share social media
  package-lock.json
  package.json
  packages/shared/ui/components/atoms/Article/index.js
  packages/shared/ui/components/atoms/Icons/Xlogo/index.js
  packages/shared/ui/components/atoms/Modal/index.js
  packages/shared/ui/components/atoms/ModalShare/index.js
  packages/shared/ui/components/atoms/index.js
Due: azure-pipelines.yml

remove commented lines and unused import
  packages/shared/ui/components/atoms/Article/index.js
Due: azure-pipelines.yml

use slug in detail news
  apps/digiroom-news/src/constants/news.js
  apps/digiroom-news/src/pages/[slug]/index.js
  packages/shared/ui/components/organism/ListArtikel/index.js
Due: azure-pipelines-digiroom-news.yml, azure-pipelines.yml

fix LoginPage and add login simulation
  apps/digiroom-cms/src/components/Login.js
  apps/digiroom-cms/src/components/Login/index.js
  apps/digiroom-cms/src/pages/index.js
  apps/digiroom-cms/src/pages/login/index.js
Due: none

Fixing console warning on inverted props
  packages/shared/ui/components/atoms/BtnConfirm/index.js
  packages/shared/ui/components/atoms/BtnInquiry/index.js
  packages/shared/ui/components/atoms/Button/index.js
Due: azure-pipelines.yml

fix module not found DashboardPromo
  apps/digiroom-cms/src/pages/index.js
Due: none

fix auth flow
  apps/digiroom-cms/src/components/CMSHeader.js
  apps/digiroom-cms/src/pages/login/index.js
Due: none

create protected route page
  apps/digiroom-cms/src/components/Login/index.js
  apps/digiroom-cms/src/pages/_app.js
  apps/digiroom-cms/src/pages/index.js
  apps/digiroom-cms/src/pages/login/index.js
Due: none

Path conditions:
  azure-pipelines-digiroom-news.yml: any of: apps/digiroom-news, but not: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-promo
  azure-pipelines.yml: any file but: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-promo
