Repository ridwan094/digiroom-fe-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-digiroom-news.yml, azure-pipelines.yml

azure-pipelines-digiroom-news.yml:
  name: $(BuildID)
  pool:
    vmImage: ubuntu-latest
  jobs:
  - task: Npm@1
    inputs:
      command: install
  - task: PowerShell@2
    inputs:
      targetType: inline
      script: cd /apps/digiroom-news/
  - task: Npm@1
    inputs:
      command: custom
      customCommand: build

azure-pipelines.yml:
  name: $(BuildID)
  pool:
    vmImage: ubuntu-latest
  jobs:
  - job: BuildAndInstall
    steps:
    - checkout: self
      persistCredentials: true
    - script: 'cd ../../
  
        npm install
  
        '
      displayName: Change Directory and npm install
  - job: BuildBoilerplate
    steps:
    - checkout: self
  ...

Update azure-pipelines-digiroom-news.yml for Azure Pipelines
  azure-pipelines-digiroom-news.yml
Due: azure-pipelines.yml

Update azure-pipelines-a.yml for Azure Pipelines
  apps/boilerplate/azure-pipelines-a.yml
Due: none

Added Dockerfile
  apps/digiroom-news/Dockerfile
Due: azure-pipelines-digiroom-news.yml

Updated package.json
  apps/digiroom-news/package.json
Due: azure-pipelines-digiroom-news.yml

Updated Dockerfile
  apps/digiroom-news/Dockerfile
Due: azure-pipelines-digiroom-news.yml

Create CMS layout page
  apps/digiroom-cms/public/header-logo.png
  apps/digiroom-cms/public/sidebar-logo.png
  apps/digiroom-cms/src/components/CMSHeader.js
  apps/digiroom-cms/src/components/CMSSidebar.js
  apps/digiroom-cms/src/layout/index.js
  apps/digiroom-cms/src/pages/_app.js
  apps/digiroom-cms/src/styles/globals.css
  apps/digiroom-cms/tailwind.config.js
Due: none

Update image assets to webp
  apps/digiroom-cms/public/header-logo.png
  apps/digiroom-cms/public/images/Auto2000.webp
  apps/digiroom-cms/public/images/logo-beyond.webp
  apps/digiroom-cms/src/components/CMSHeader.js
  apps/digiroom-cms/src/components/CMSSidebar.js
Due: none

update CMS sidebar
  apps/digiroom-cms/src/components/CMSSidebar.js
  apps/digiroom-cms/src/layout/index.js
Due: none

Update CMSSidebar.js
  apps/digiroom-cms/src/components/CMSSidebar.js
Due: none

adding dashboard Promo in CMS
  apps/digiroom-cms/src/pages/dashboardpromo/index.js
  apps/digiroom-cms/src/pages/index.js
  apps/digiroom/src/pages/index.js
  packages/shared/ui/components/atoms/Toogle/index.js
  packages/shared/ui/components/atoms/index.js
Due: azure-pipelines.yml

Add CMS Dashboard news & tips
  apps/digiroom-cms/package-lock.json
  apps/digiroom-cms/src/pages/dashboard-news-and-tips/index.js
  apps/digiroom-cms/src/pages/index.js
Due: none

Update CMSHeader.js
  apps/digiroom-cms/src/components/CMSHeader.js
Due: none

adding paginations settings
  apps/digiroom-cms/src/pages/dashboardpromo/index.js
Due: none

Fix layout margin
  apps/digiroom-cms/src/layout/index.js
Due: none

fix for commented line, cammelCase, variable not used, delete props. variable, add router.push, modify some of the variable to useState and fix hydration error in dropdown inside <p>
  apps/digiroom-cms/src/pages/dashboardpromo/index.js
  apps/digiroom-cms/src/pages/index.js
  apps/digiroom/src/pages/index.js
Due: none

fix for folder name in dashboard-promo
  apps/digiroom-cms/src/pages/dashboard-promo/index.js
  apps/digiroom-cms/src/pages/index.js
Due: none

Add promo page and update breadcrumb
  apps/digiroom-promo/src/pages/promo/index.js
  packages/shared/ui/components/molecules/Breadcrumbs/index.js
Due: azure-pipelines.yml

adding breadcrumb in layout
  apps/digiroom-cms/src/components/Breadcrumb/index.js
  apps/digiroom-cms/src/components/CMSSidebar.js
  apps/digiroom-cms/src/layout/index.js
  apps/digiroom-cms/src/pages/dashboard-promo/index.js
Due: none

Enhance tab promo card view as on figma
  apps/digiroom-promo/src/pages/promo/index.js
  packages/shared/ui/components/molecules/TabBar/index.js
  packages/shared/ui/components/organism/TabbarPromo/index.js
Due: azure-pipelines.yml

fix layout name
  apps/digiroom-cms/src/layout/index.js
Due: none

Add Dockerfile for digiroom-news
  digiroom-news.Dockerfile
Due: azure-pipelines.yml

fix layout, fix bug toggle and fix pagination set
  apps/digiroom-cms/src/pages/dashboard-promo/index.js
  apps/digiroom-cms/src/pages/index.js
Due: none

Remove Comment Lines
  apps/digiroom-cms/src/pages/dashboard-news-and-tips/index.js
Due: none

Path conditions:
  azure-pipelines-digiroom-news.yml: any of: apps/digiroom-news, but not: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-promo
  azure-pipelines.yml: any file but: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-promo
