Repository ridwan094/digiroom-fe-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-digiroom-news.yml, azure-pipelines.yml

azure-pipelines-digiroom-news.yml:
  name: $(Date:yyyyMMdd).$(Rev:r)
  pool:
    vmImage: ubuntu-latest
  jobs:
  - job: BuildAndDeploy
    displayName: Build and Deploy
    steps:
    - task: PowerShell@2
      inputs:
        targetType: inline
        script: ''
        arguments: npm install
    - task: Docker@2
      inputs:
  ...

azure-pipelines.yml:
  name: $(BuildID)
  pool:
    vmImage: ubuntu-latest
  jobs:
  - job: BuildAndInstall
    steps:
    - checkout: self
      persistCredentials: true
    - script: 'cd ../../
  
        npm install
  
        '
      displayName: Change Directory and npm install
  - job: BuildBoilerplate
    steps:
    - checkout: self
  ...

chore: fix component
  packages/shared/ui/components/molecules/CurrentInformation/index.js
Due: azure-pipelines.yml

init branch and sales apps
  apps/digiroom-branch-sales/.eslintrc.json
  apps/digiroom-branch-sales/.gitignore
  apps/digiroom-branch-sales/.prettierrc
  apps/digiroom-branch-sales/README.md
  apps/digiroom-branch-sales/jsconfig.json
  apps/digiroom-branch-sales/next.config.js
  apps/digiroom-branch-sales/package.json
  apps/digiroom-branch-sales/postcss.config.js
  apps/digiroom-branch-sales/public/favicon.ico
  apps/digiroom-branch-sales/public/images/Auto2000.webp
  apps/digiroom-branch-sales/public/images/idflag.webp
  apps/digiroom-branch-sales/public/images/usflag.webp
  apps/digiroom-branch-sales/public/next.svg
  apps/digiroom-branch-sales/public/vercel.svg
  apps/digiroom-branch-sales/src/constants/faqs.js
  apps/digiroom-branch-sales/src/constants/index.js
  apps/digiroom-branch-sales/src/helpers/utils/convertMoney/index.js
  apps/digiroom-branch-sales/src/pages/_app.js
  apps/digiroom-branch-sales/src/pages/_document.js
  apps/digiroom-branch-sales/src/pages/api/hello.js
  apps/digiroom-branch-sales/src/pages/index.js
  apps/digiroom-branch-sales/src/store/example/actions.js
  apps/digiroom-branch-sales/src/store/example/constants.js
  apps/digiroom-branch-sales/src/store/example/reducer.js
  apps/digiroom-branch-sales/src/store/index.js
  apps/digiroom-branch-sales/src/styles/globals.css
  apps/digiroom-branch-sales/tailwind.config.js
  package-lock.json
Due: azure-pipelines.yml

update for news tips
  apps/digiroom-cms/next.config.js
  apps/digiroom-cms/src/components/modal-filter/index.js
  apps/digiroom-cms/src/constants/implement-table/index.js
  apps/digiroom-cms/src/pages/news-tips/[slug]/index.js
Due: none

change double classname in button
  apps/digiroom-cms/src/components/modal-filter/index.js
Due: none

config api cms update, forget to push this one to development
  apps/digiroom-cms/src/service/apiCMS/index.js
Due: none

Handle refresh token for CMS app
  apps/digiroom-cms/src/service/apiCMS/index.js
Due: none

Fixing bug on axios instace function
  apps/digiroom-cms/src/service/apiCMS/index.js
Due: none

add docker config
  azure-pipelines-boilerplate.yml
  azure-pipelines-digiroom-cms.yml
  azure-pipelines-digiroom-new-car-purchase.yml
  azure-pipelines-digiroom-news.yml
  azure-pipelines-digiroom-product-knowledge.yml
  azure-pipelines-digiroom-promo.yml
  azure-pipelines-digiroom.yml
  digiroom-product-knowledge.Dockerfile
Due: azure-pipelines.yml

remove console.log
  apps/digiroom-news/src/pages/_app.js
Due: azure-pipelines-digiroom-news.yml

renaming
  packages/shared/ui/components/molecules/index.js
  packages/shared/ui/helpers/utils/index.js
Due: azure-pipelines.yml

renaming folder
  packages/shared/ui/components/molecules/index.js
  packages/shared/ui/helpers/utils/index.js
Due: azure-pipelines.yml

renaming folder
  packages/shared/ui/components/atoms/Text/BodyExtraLarge.js
  packages/shared/ui/components/atoms/Text/BodyLarge.js
  packages/shared/ui/components/atoms/Text/BodyLargeSemibold.js
  packages/shared/ui/components/atoms/Text/BodyMedium.js
  packages/shared/ui/components/atoms/Text/BodyMediumSemibold.js
  packages/shared/ui/components/atoms/Text/BodySmall.js
  packages/shared/ui/components/atoms/Text/BodySmallSemibold.js
  packages/shared/ui/components/atoms/Text/Head1.js
  packages/shared/ui/components/atoms/Text/Head2.js
  packages/shared/ui/components/atoms/Text/Head3.js
  packages/shared/ui/components/atoms/Text/Head4.js
  packages/shared/ui/components/atoms/Text/Head5.js
  packages/shared/ui/components/atoms/Text/Head6.js
  packages/shared/ui/components/atoms/Text/Head7.js
  packages/shared/ui/components/atoms/Text/Head8.js
  packages/shared/ui/components/atoms/Text/Headline4.js
  packages/shared/ui/components/atoms/Text/Headline5.js
  packages/shared/ui/components/molecules/Breadcrumbs/index.js
  packages/shared/ui/components/molecules/index.js
  packages/shared/ui/helpers/utils/index.js
Due: azure-pipelines.yml

renaming folder
  packages/shared/ui/components/atoms/Text/BodyRegular.js
  packages/shared/ui/components/atoms/Text/Headline3.js
  packages/shared/ui/index.js
Due: azure-pipelines.yml

remove duplicate code promo section
  packages/shared/ui/components/organism/PromoEventSection/index.js
Due: azure-pipelines.yml

add event dummy data
  apps/digiroom-branch-sales/src/constants/dummy.js
  apps/digiroom-branch-sales/src/pages/index.js
  packages/shared/ui/components/molecules/CurrentInformation/index.js
  packages/shared/ui/components/organism/CurrentInformationSection/index.js
Due: azure-pipelines.yml

fix export import components
  apps/digiroom-product-knowledge/src/pages/_app.js
  apps/digiroom-product-knowledge/src/pages/checkout/index.js
  apps/digiroom-product-knowledge/src/pages/detail-promo/index.js
  apps/digiroom-product-knowledge/src/pages/index.js
  apps/digiroom-product-knowledge/src/pages/product-knowledge/[slug]/index.js
  apps/digiroom-product-knowledge/src/pages/product-knowledge/index.js
  apps/digiroom-product-knowledge/src/pages/promo/[slug]/index.js
  apps/digiroom-product-knowledge/src/pages/promo/index.js
  apps/digiroom-product-knowledge/src/pages/promo/inquiry/success/index.js
  apps/digiroom-promo/src/pages/promo/[slug]/index.js
  packages/shared/ui/components/molecules/Breadcrumbs/index.js
  packages/shared/ui/components/organism/BranchMapSection/index.js
  packages/shared/ui/index.js
Due: azure-pipelines.yml

remove S is not defined
  apps/digiroom-product-knowledge/src/pages/product-knowledge/index.js
Due: azure-pipelines.yml

feat: integration faq news and tips
  apps/digiroom-cms/src/pages/news-tips/faq/index.js
  apps/digiroom-cms/src/service/faq/news-tips/index.js
  apps/digiroom-cms/src/service/promo/index.js
Due: none

fix: integration news and tips
  apps/digiroom-cms/src/pages/news-tips/faq/index.js
Due: none

upload azure pipeline from devops
  azure-pipelines-boilerplate.yml
  azure-pipelines-digiroom-cms.yml
  azure-pipelines-digiroom-new-car-purchase.yml
  azure-pipelines-digiroom-product-knowledge.yml
  azure-pipelines-digiroom-promo.yml
  azure-pipelines-digiroom.yml
Due: azure-pipelines.yml

branch filter list/map button label
  packages/shared/ui/components/molecules/BranchFilter/index.js
Due: azure-pipelines.yml

add map section to branch list page
  packages/shared/ui/components/organism/BranchListSection/index.js
  packages/shared/ui/components/organism/BranchMapSection/index.js
Due: azure-pipelines.yml

update
  apps/digiroom-cms/src/components/Breadcrumb/index.js
  apps/digiroom-cms/src/components/LayoutForm/Select/index.js
  apps/digiroom-cms/src/components/LayoutForm/index.js
  apps/digiroom-cms/src/components/modal-filter/index.js
  apps/digiroom-cms/src/constants/add-news-page/index.js
  apps/digiroom-cms/src/constants/add-product-knowledge/index.js
  apps/digiroom-cms/src/constants/implement-table/index.js
  apps/digiroom-cms/src/constants/menu/index.js
  apps/digiroom-cms/src/layout/index.js
  apps/digiroom-cms/src/pages/news-tips/add-news-tips-test/index.js
  apps/digiroom-cms/src/pages/product-knowledge/add-product-knowledge/index.js
  apps/digiroom-cms/src/pages/product-knowledge/index.js
  apps/digiroom-cms/src/pages/promo/add-promo/index.js
  apps/digiroom-cms/src/pages/promo/duplicate-promo/[slug]/index.js
  apps/digiroom-cms/src/service/news-tips/index.js
  apps/digiroom-cms/src/service/product-knowledge/index.js
Due: none

update for the edit and duplicate
  apps/digiroom-cms/src/pages/news-tips/[slug]/index.js
  apps/digiroom-cms/src/pages/news-tips/index.js
  apps/digiroom-cms/src/service/news-tips/index.js
Due: none

add pipeline from devops
  azure-pipelines-boilerplate.yml
  azure-pipelines-digiroom-cms.yml
  azure-pipelines-digiroom-new-car-purchase.yml
  azure-pipelines-digiroom-news.yml
  azure-pipelines-digiroom-product-knowledge.yml
  azure-pipelines-digiroom-promo.yml
  azure-pipelines-digiroom.yml
Due: azure-pipelines.yml

feat: integration faq promo
  apps/digiroom-cms/src/pages/news-tips/faq/index.js
  apps/digiroom-cms/src/pages/promo/faq/index.js
  apps/digiroom-cms/src/service/faq/promo/index.js
Due: none

fix: integration faq promo
  apps/digiroom-cms/src/constants/type/index.js
  apps/digiroom-cms/src/pages/news-tips/faq/index.js
  apps/digiroom-cms/src/pages/promo/faq/index.js
Due: none

fix: integration faq promo
  apps/digiroom-cms/src/pages/news-tips/faq/index.js
  apps/digiroom-cms/src/pages/promo/faq/index.js
Due: none

update for integrate in news tips
  apps/digiroom-cms/src/components/modal-filter/index.js
  apps/digiroom-cms/src/constants/add-news-page/index.js
  apps/digiroom-cms/src/constants/implement-table/index.js
  apps/digiroom-cms/src/pages/news-tips/[slug]/index.js
  apps/digiroom-cms/src/pages/news-tips/index.js
  packages/shared/ui/components/atoms/Toogle/index.js
Due: azure-pipelines.yml

update news tips
  apps/digiroom-cms/src/components/Table/index.js
  apps/digiroom-cms/src/pages/news-tips/index.js
  apps/digiroom-cms/src/service/news-tips/index.js
Due: none

add new url
  apps/digiroom-cms/next.config.js
Due: none

dynamic page fix
  apps/digiroom-cms/src/pages/news-tips/[slug]/index.js
Due: none

removing console.log and add hardcode for dropdown multi select (will be changed if BE have the data)
  apps/digiroom-cms/src/components/LayoutForm/index.js
  apps/digiroom-cms/src/constants/add-news-page/index.js
  apps/digiroom-cms/src/constants/news-tips/index.js
  apps/digiroom-cms/src/constants/product-knowledge/index.js
  apps/digiroom-cms/src/pages/news-tips/[slug]/index.js
  apps/digiroom-cms/src/pages/news-tips/index.js
  apps/digiroom-cms/src/pages/product-knowledge/index.js
  apps/digiroom-cms/src/pages/promo/index.js
Due: none

Fixing mapping url articles & set up fetching BE
  apps/digiroom-news/src/pages/[slug]/index.js
  apps/digiroom-news/src/pages/berita-dan-tips/[slug]/index.js
  apps/digiroom-news/src/pages/berita-dan-tips/index.js
  apps/digiroom-news/src/pages/berita-dan-tips/success/index.js
  apps/digiroom-news/src/pages/index.js
  apps/digiroom-news/src/service/apiDigiroom/api-config.js
  apps/digiroom-news/src/service/apiDigiroom/index.js
  apps/digiroom-news/src/service/article/index.js
  apps/digiroom-news/src/service/city/index.js
  apps/digiroom-news/src/service/province/index.js
  packages/shared/ui/components/molecules/ArticleList/index.js
  packages/shared/ui/components/molecules/CardNews/index.js
  packages/shared/ui/components/molecules/InquiryForm/index.js
Due: azure-pipelines-digiroom-news.yml, azure-pipelines.yml

change branch base route to /dealer-toyota
  apps/digiroom-branch-sales/src/pages/dealer-toyota/index.js
  apps/digiroom-branch-sales/src/pages/index.js
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-digiroom-news.yml: any of: apps/digiroom-news, but not: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-promo
  azure-pipelines.yml: any file but: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-promo
