Repository ridwan094/digiroom-fe-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-news.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines-digiroom.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-boilerplate.yml: any file but: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-product-knowledge, apps/digiroom-promo
  azure-pipelines-digiroom-new-car-purchase.yml: any file but: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-product-knowledge, apps/digiroom-promo
  azure-pipelines-digiroom-news.yml: any of: apps/digiroom-news, but not: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-product-knowledge, apps/digiroom-promo
  azure-pipelines-digiroom-product-knowledge.yml: any file but: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-product-knowledge, apps/digiroom-promo
  azure-pipelines-digiroom.yml: any of: apps/digiroom, but not: apps/boilerplate, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-product-knowledge, apps/digiroom-promo
  azure-pipelines.yml: any file but: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-promo

update for comment in gitlab
  apps/digiroom-cms/src/components/Breadcrumb/index.js
  apps/digiroom-cms/src/components/DatePicker/index.js
  apps/digiroom-cms/src/components/LayoutForm/Select/index.js
  apps/digiroom-cms/src/components/LayoutForm/SelectMulti/index.js
  apps/digiroom-cms/src/constants/implement-table/index.js
  apps/digiroom-cms/src/helpers/utils/news-tips-page/AddNewsPage.js
  apps/digiroom-cms/src/helpers/utils/news-tips-page/NewsTipsPageList.js
  apps/digiroom-cms/src/helpers/utils/product-knowledge-page/AddProductKnowledge.js
  apps/digiroom-cms/src/helpers/utils/product-knowledge-page/ProductKnowledgePageList.js
  apps/digiroom-cms/src/layout/index.js
  apps/digiroom-cms/src/pages/news-tips/[slug]/index.js
  apps/digiroom-cms/src/pages/news-tips/add-news-tips-test/index.js
  apps/digiroom-cms/src/pages/news-tips/index.js
  apps/digiroom-cms/src/pages/product-knowledge/index.js
  apps/digiroom-cms/src/service/news-tips/index.js
Due: none

refactor breadcrumbs items to variable
  apps/digiroom-branch-sales/src/pages/dealer-toyota/index.js
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

Fixing Comment
  apps/digiroom-news/src/pages/berita-dan-tips/[slug]/index.js
  apps/digiroom-news/src/pages/berita-dan-tips/index.js
  apps/digiroom-news/src/pages/index.js
  apps/digiroom-news/src/service/apiDigiroom/index.js
  apps/digiroom-news/src/service/article/index.js
  packages/shared/ui/components/molecules/ArticleList/index.js
  packages/shared/ui/components/molecules/CardNews/index.js
  packages/shared/ui/components/molecules/InquiryForm/index.js
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-news.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

Fixing slug comment
  apps/digiroom-news/src/pages/[slug]/index.js
  apps/digiroom-news/src/pages/berita-dan-tips/[slug]/index.js
  apps/digiroom-news/src/pages/index.js
Due: azure-pipelines-digiroom-news.yml

WIP
  packages/shared/ui/components/molecules/BranchServiceCard/index.js
  packages/shared/ui/components/molecules/index.js
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

add variable breadcrumb items on utils
  apps/digiroom-news/src/helpers/utils/breadCrumbPath/index.js
  apps/digiroom-news/src/pages/[slug]/index.js
  apps/digiroom-news/src/pages/berita-dan-tips/[slug]/index.js
Due: azure-pipelines-digiroom-news.yml

fixing breadcrumbs items
  apps/digiroom-news/src/helpers/utils/breadCrumbPath/index.js
  apps/digiroom-news/src/pages/[slug]/index.js
  apps/digiroom-news/src/pages/berita-dan-tips/[slug]/index.js
Due: azure-pipelines-digiroom-news.yml

fix TabBar, create login simulation, add isLogin to redux
  packages/shared/ui/components/molecules/LoginForm/index.js
  packages/shared/ui/components/molecules/TabBar/index.js
  packages/shared/ui/components/molecules/index.js
  packages/shared/ui/components/organism/Navbar/index.js
  packages/shared/ui/store/page/actions.js
  packages/shared/ui/store/page/constants.js
  packages/shared/ui/store/page/reducer.js
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

Add branchServiceSection & BranchServiceCard
  packages/shared/ui/components/molecules/BranchServiceCard/index.js
  packages/shared/ui/components/organism/BranchServiceSection/index.js
  packages/shared/ui/components/organism/index.js
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

first commit
  apps/digiroom-cms/src/components/CMSHeader.js
Due: none

fix: digiroom-cms.Dockerfile to reduce vulnerabilities
  digiroom-cms.Dockerfile
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

fix: upgrade eslint-config-next from 13.4.12 to 13.4.19
  apps/digiroom-cms/package-lock.json
  apps/digiroom-cms/package.json
Due: none

fix: upgrade next from 13.4.12 to 13.4.19
  apps/digiroom-cms/package-lock.json
  apps/digiroom-cms/package.json
Due: none

fix: upgrade eslint from 8.45.0 to 8.47.0
  apps/digiroom-cms/package-lock.json
  apps/digiroom-cms/package.json
Due: none

fix: upgrade autoprefixer from 10.4.14 to 10.4.15
  apps/digiroom-cms/package-lock.json
  apps/digiroom-cms/package.json
Due: none

fix: upgrade postcss from 8.4.27 to 8.4.28
  apps/digiroom-cms/package-lock.json
  apps/digiroom-cms/package.json
Due: none

fix: digiroom.Dockerfile to reduce vulnerabilities
  digiroom.Dockerfile
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

fix: apps/digiroom/package.json & apps/digiroom/package-lock.json to reduce vulnerabilities
  apps/digiroom/package-lock.json
  apps/digiroom/package.json
Due: azure-pipelines-digiroom.yml

fix: apps/digiroom-new-car-purchase/package.json & apps/digiroom-new-car-purchase/package-lock.json to reduce vulnerabilities
  apps/digiroom-new-car-purchase/package-lock.json
  apps/digiroom-new-car-purchase/package.json
Due: none

fix: apps/digiroom-product-knowledge/package.json & apps/digiroom-product-knowledge/package-lock.json to reduce vulnerabilities
  apps/digiroom-product-knowledge/package-lock.json
  apps/digiroom-product-knowledge/package.json
Due: azure-pipelines.yml

fix: apps/digiroom-promo/package.json & apps/digiroom-promo/package-lock.json to reduce vulnerabilities
  apps/digiroom-promo/package-lock.json
  apps/digiroom-promo/package.json
Due: none

fix: apps/digiroom-cms/package.json & apps/digiroom-cms/package-lock.json to reduce vulnerabilities
  apps/digiroom-cms/package-lock.json
  apps/digiroom-cms/package.json
Due: none

fix: apps/digiroom-branch-sales/package.json to reduce vulnerabilities
  apps/digiroom-branch-sales/package.json
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

fix: apps/boilerplate/package.json & apps/boilerplate/package-lock.json to reduce vulnerabilities
  apps/boilerplate/package-lock.json
  apps/boilerplate/package.json
Due: none

fix: apps/digiroom-news/package.json & apps/digiroom-news/package-lock.json to reduce vulnerabilities
  apps/digiroom-news/package-lock.json
  apps/digiroom-news/package.json
Due: azure-pipelines-digiroom-news.yml
