Repository ridwan094/digiroom-fe-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-news.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines-digiroom.yml, azure-pipelines.yml

azure-pipelines-boilerplate.yml:
  name: $(Build.BuildNumber)
  pool:
    name: astradigital-agentpool
    vmImage: ubuntu-22.04
  jobs:
  - job: BuildAndPush
    steps:
    - task: Docker@2
      inputs:
        containerRegistry: astradigital-docker-connection
        repository: boilerplate
        command: buildAndPush
  ...

azure-pipelines-digiroom-new-car-purchase.yml:
  pool:
    name: astradigital-agentpool
    vmImage: ubuntu-22.04
  jobs:
  - job: BuildAndPush
    steps:
    - task: PowerShell@2
      inputs:
        targetType: inline
  ...

azure-pipelines-digiroom-news.yml:
  pool:
    name: astradigital-agentpool
    vmImage: ubuntu-22.04
  jobs:
  - job: BuildAndPush
    steps:
    - task: PowerShell@2
      inputs:
        targetType: inline
  ...

azure-pipelines-digiroom-product-knowledge.yml:
  pool:
    name: astradigital-agentpool
    vmImage: ubuntu-22.04
  jobs:
  - job: BuildAndPush
    steps:
    - task: PowerShell@2
      inputs:
        targetType: inline
  ...

azure-pipelines-digiroom.yml:
  pool:
    name: astradigital-agentpool
    vmImage: ubuntu-22.04
  jobs:
  - job: BuildAndPush
    steps:
    - task: PowerShell@2
      inputs:
        targetType: inline
        script: docker buildx build --platform linux/arm64 -t astradigital.azurecr.io/digiroom:$(Build.BuildId) -f digiroom.Dockerfile . --push
  ...

azure-pipelines.yml:
  name: $(BuildID)
  pool:
    vmImage: ubuntu-latest
  jobs:
  - job: BuildAndInstall
    steps:
    - checkout: self
      persistCredentials: true
    - script: 'cd ../../
  
        npm install
  
        '
      displayName: Change Directory and npm install
  - job: BuildBoilerplate
    steps:
    - checkout: self
  ...

fix: apps/digiroom-news/package.json & apps/digiroom-news/package-lock.json to reduce vulnerabilities
  apps/digiroom-news/package-lock.json
  apps/digiroom-news/package.json
Due: azure-pipelines-digiroom-news.yml

fix: apps/digiroom-product-knowledge/package.json & apps/digiroom-product-knowledge/package-lock.json to reduce vulnerabilities
  apps/digiroom-product-knowledge/package-lock.json
  apps/digiroom-product-knowledge/package.json
Due: azure-pipelines.yml

fix: apps/digiroom-promo/package.json & apps/digiroom-promo/package-lock.json to reduce vulnerabilities
  apps/digiroom-promo/package-lock.json
  apps/digiroom-promo/package.json
Due: none

fix: apps/digiroom/package.json & apps/digiroom/package-lock.json to reduce vulnerabilities
  apps/digiroom/package-lock.json
  apps/digiroom/package.json
Due: azure-pipelines-digiroom.yml

fix: apps/digiroom-cms/package.json & apps/digiroom-cms/package-lock.json to reduce vulnerabilities
  apps/digiroom-cms/package-lock.json
  apps/digiroom-cms/package.json
Due: none

fix: apps/digiroom-new-car-purchase/package.json & apps/digiroom-new-car-purchase/package-lock.json to reduce vulnerabilities
  apps/digiroom-new-car-purchase/package-lock.json
  apps/digiroom-new-car-purchase/package.json
Due: none

fix: apps/boilerplate/package.json & apps/boilerplate/package-lock.json to reduce vulnerabilities
  apps/boilerplate/package-lock.json
  apps/boilerplate/package.json
Due: none

fix: apps/digiroom-branch-sales/package.json to reduce vulnerabilities
  apps/digiroom-branch-sales/package.json
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

fix: packages/config/eslint-config-custom/package.json to reduce vulnerabilities
  packages/config/eslint-config-custom/package.json
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-boilerplate.yml: any file but: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-product-knowledge, apps/digiroom-promo
  azure-pipelines-digiroom-new-car-purchase.yml: any file but: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-product-knowledge, apps/digiroom-promo
  azure-pipelines-digiroom-news.yml: any of: apps/digiroom-news, but not: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-product-knowledge, apps/digiroom-promo
  azure-pipelines-digiroom-product-knowledge.yml: any file but: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-product-knowledge, apps/digiroom-promo
  azure-pipelines-digiroom.yml: any of: apps/digiroom, but not: apps/boilerplate, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-product-knowledge, apps/digiroom-promo
  azure-pipelines.yml: any file but: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-promo
