Repository ridwan094/digiroom-fe-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-news.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines-digiroom.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-boilerplate.yml: any file but: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-product-knowledge, apps/digiroom-promo
  azure-pipelines-digiroom-new-car-purchase.yml: any file but: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-product-knowledge, apps/digiroom-promo
  azure-pipelines-digiroom-news.yml: any of: apps/digiroom-news, but not: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-product-knowledge, apps/digiroom-promo
  azure-pipelines-digiroom-product-knowledge.yml: any file but: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-product-knowledge, apps/digiroom-promo
  azure-pipelines-digiroom.yml: any of: apps/digiroom, but not: apps/boilerplate, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-product-knowledge, apps/digiroom-promo
  azure-pipelines.yml: any file but: apps/boilerplate, apps/digiroom, apps/digiroom-cms, apps/digiroom-new-car-purchase, apps/digiroom-news, apps/digiroom-promo

fix: digiroom-news.Dockerfile to reduce vulnerabilities
  digiroom-news.Dockerfile
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

fix: apps/digiroom-new-car-purchase/package.json & apps/digiroom-new-car-purchase/package-lock.json to reduce vulnerabilities
  apps/digiroom-new-car-purchase/package-lock.json
  apps/digiroom-new-car-purchase/package.json
Due: none

fix: apps/digiroom-news/package.json & apps/digiroom-news/package-lock.json to reduce vulnerabilities
  apps/digiroom-news/package-lock.json
  apps/digiroom-news/package.json
Due: azure-pipelines-digiroom-news.yml

fix: apps/digiroom/package.json & apps/digiroom/package-lock.json to reduce vulnerabilities
  apps/digiroom/package-lock.json
  apps/digiroom/package.json
Due: azure-pipelines-digiroom.yml

fix: apps/digiroom-cms/package.json & apps/digiroom-cms/package-lock.json to reduce vulnerabilities
  apps/digiroom-cms/package-lock.json
  apps/digiroom-cms/package.json
Due: none

fix: apps/digiroom-product-knowledge/package.json & apps/digiroom-product-knowledge/package-lock.json to reduce vulnerabilities
  apps/digiroom-product-knowledge/package-lock.json
  apps/digiroom-product-knowledge/package.json
Due: azure-pipelines.yml

fix: apps/digiroom-promo/package.json & apps/digiroom-promo/package-lock.json to reduce vulnerabilities
  apps/digiroom-promo/package-lock.json
  apps/digiroom-promo/package.json
Due: none

fix: apps/boilerplate/package.json & apps/boilerplate/package-lock.json to reduce vulnerabilities
  apps/boilerplate/package-lock.json
  apps/boilerplate/package.json
Due: none

fix: apps/digiroom-branch-sales/package.json to reduce vulnerabilities
  apps/digiroom-branch-sales/package.json
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

fix: digiroom-cms.Dockerfile to reduce vulnerabilities
  digiroom-cms.Dockerfile
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

fix: digiroom-promo.Dockerfile to reduce vulnerabilities
  digiroom-promo.Dockerfile
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

fix: digiroom-product-knowledge.Dockerfile to reduce vulnerabilities
  digiroom-product-knowledge.Dockerfile
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

fix: digiroom-new-car-purchase.Dockerfile to reduce vulnerabilities
  digiroom-new-car-purchase.Dockerfile
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

fix: boilerplate.Dockerfile to reduce vulnerabilities
  boilerplate.Dockerfile
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml

fix: digiroom.Dockerfile to reduce vulnerabilities
  digiroom.Dockerfile
Due: azure-pipelines-boilerplate.yml, azure-pipelines-digiroom-new-car-purchase.yml, azure-pipelines-digiroom-product-knowledge.yml, azure-pipelines.yml
