Repository ridwan094/digiroom-fe-monorepo: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-digiroom-news.yml, azure-pipelines.yml

azure-pipelines-digiroom-news.yml:

name: $(Date:yyyyMMdd).$(Rev:r) # Custom build numbering format

trigger:
  branches:
    include:
      - devops
      - feat/*
  paths:
    exclude:
      - 'apps/boilerplate/*'
      - 'apps/digiroom/*'
      - 'apps/digiroom-cms/*'
      - 'apps/digiroom-new-car-purchase/*'
      - 'apps/digiroom-promo/*'
    include:
      - 'apps/digiroom-news/*'

pool:
  vmImage: ubuntu-latest

jobs:
- job: BuildAndDeploy
  displayName: 'Build and Deploy'
  steps:
  - task: PowerShell@2
    inputs:
      targetType: 'inline'
      script: |
      arguments: 
        npm install
  - task: Docker@2
    inputs:
      containerRegistry: 'Docker hub connection'
      repository: 'digiroom-news'
      command: 'buildAndPush'
      Dockerfile: '$(System.DefaultWorkingDirectory)/apps/digiroom-news/Dockerfile'
    displayName: 'Build and Push Docker Image'

azure-pipelines.yml:

name: $(BuildID)

trigger:
  branches:
    include:
      - devops
      - feat/*
  paths:
    exclude:
      - 'apps/boilerplate/*'
      - 'apps/digiroom/*'
      - 'apps/digiroom-cms/*'
      - 'apps/digiroom-new-car-purchase/*'
      - 'apps/digiroom-news/*'
      - 'apps/digiroom-promo/*'

pool:
  vmImage: ubuntu-latest

jobs:
- job: BuildAndInstall
  steps:
  - checkout: self
    persistCredentials: true
  - script: |
      cd ../../
      npm install
    displayName: 'Change Directory and npm install'
    
- job: BuildBoilerplate
  steps:
  - checkout: self
    persistCredentials: true
  - script: |
      cd apps/boilerplate
      npm install
      # Add your build steps for boilerplate here
    displayName: 'Build Boilerplate'
    condition: eq(variables['Build.SourceBranch'], 'refs/heads/devops') # Build only on 'devops' branch
    
- job: BuildDigiroom
  steps:
  - checkout: self
    persistCredentials: true
  - script: |
      cd apps/digiroom
      npm install
      # Add your build steps for digiroom here
    displayName: 'Build Digiroom'
    condition: startsWith(variables['Build.SourceBranch'], 'refs/heads/feat/') # Build only on 'feat/*' branches

feat: create productknowledgepage
  apps/digiroom-product-knowledge/src/pages/product-knowledge/index.js
  packages/shared/ui/components/molecules/CardProductKnowledge/index.js
  packages/shared/ui/components/molecules/index.js
  packages/shared/ui/components/organism/TabbarProductKnowledge/index.js
  packages/shared/ui/components/organism/index.js
Due: azure-pipelines.yml

adjust and fix bugs at news & article
  apps/digiroom-news/src/pages/articles/[slug]/index.js
  apps/digiroom-news/src/pages/articles/index.js
  apps/digiroom-news/tailwind.config.js
  packages/shared/ui/components/molecules/InfoDigiroom/index.js
  packages/shared/ui/components/molecules/TabBar/index.js
  packages/shared/ui/components/organism/ArticleListFaqSection/index.js
  packages/shared/ui/components/organism/ArticleListTabSection/index.js
  packages/shared/ui/components/organism/DetailArticleAnotherArticlesSection/index.js
  packages/shared/ui/components/organism/DetailArticleAnotherPromoSection/index.js
  packages/shared/ui/components/organism/PromoInfoSection/index.js
  packages/shared/ui/components/organism/SocialMediaLinksSection/index.js
Due: azure-pipelines-digiroom-news.yml, azure-pipelines.yml

change props name tabPosition to className
  packages/shared/ui/components/molecules/TabBar/index.js
  packages/shared/ui/components/organism/ArticleListTabSection/index.js
Due: azure-pipelines.yml

add new comp branchFilter & PromoEventSection
  apps/digiroom-news/src/pages/articles/index.js
  packages/shared/ui/components/atoms/GeoPosition/index.js
  packages/shared/ui/components/molecules/BranchFilter/index.js
  packages/shared/ui/components/molecules/index.js
  packages/shared/ui/components/organism/Navbar/index.js
  packages/shared/ui/components/organism/PromoEventSection/index.js
  packages/shared/ui/components/organism/index.js
Due: azure-pipelines-digiroom-news.yml, azure-pipelines.yml

remove promo event comp in pages
  apps/digiroom-news/src/pages/articles/index.js
Due: azure-pipelines-digiroom-news.yml

Enhance pagination component functionality
  packages/shared/ui/components/atoms/Pagination/index.js
Due: azure-pipelines.yml

add BranchCard molecule
  packages/shared/ui/components/atoms/Icons/ArrowSplit/index.js
  packages/shared/ui/components/atoms/Icons/Build/index.js
  packages/shared/ui/components/atoms/Icons/DirectionsCar/index.js
  packages/shared/ui/components/atoms/Icons/Garage/index.js
  packages/shared/ui/components/atoms/Icons/GarageHome/index.js
  packages/shared/ui/components/atoms/Icons/Mail/index.js
  packages/shared/ui/components/atoms/Icons/PhoneInTalk/index.js
  packages/shared/ui/components/atoms/index.js
  packages/shared/ui/components/molecules/BranchCard/index.js
  packages/shared/ui/components/molecules/index.js
Due: azure-pipelines.yml

add BranchListSection organism
  packages/shared/ui/assets/images/index.js
  packages/shared/ui/assets/images/whatsapp.webp
  packages/shared/ui/components/organism/BranchListSection/index.js
  packages/shared/ui/components/organism/index.js
Due: azure-pipelines.yml

add filter to BranchListSection organism
  packages/shared/ui/components/organism/BranchListSection/index.js
Due: azure-pipelines.yml

Update modal transition as on Figma
  packages/shared/ui/components/atoms/Modal/index.js
Due: azure-pipelines.yml

Adjust share button style
  packages/shared/ui/components/atoms/ShareButton/index.js
Due: azure-pipelines.yml

Add social share modal on promo page
  packages/shared/ui/components/organism/DetailPromoBodySection/index.js
Due: azure-pipelines.yml

Adjust styles and add copy to clipboard functionality
  apps/digiroom-promo/src/pages/promo/[slug]/index.js
  packages/shared/ui/components/atoms/ModalShare/index.js
  packages/shared/ui/components/organism/DetailPromoBodySection/index.js
Due: azure-pipelines.yml

Update phone number input
  packages/shared/ui/components/atoms/Input/index.js
  packages/shared/ui/components/molecules/InquiryForm/index.js
Due: azure-pipelines.yml

add Icons parent components
  packages/shared/ui/components/atoms/Icons/index.js
  packages/shared/ui/components/atoms/index.js
Due: azure-pipelines.yml

push cms new feature for loading, change form layout, add news tips, fixing bug in add pages, adding modal preview
  apps/digiroom-cms/src/components/LayoutForm/Select/index.js
  apps/digiroom-cms/src/components/LayoutForm/index.js
  apps/digiroom-cms/src/components/Table/index.js
  apps/digiroom-cms/src/constants/implement-table/index.js
  apps/digiroom-cms/src/constants/menu/index.js
  apps/digiroom-cms/src/pages/api/list-dashboard-promo.js
  apps/digiroom-cms/src/pages/loading/index.js
  apps/digiroom-cms/src/pages/modal-preview/index.js
  apps/digiroom-cms/src/pages/news-tips/add-news-tips/index.js
  apps/digiroom-cms/src/pages/news-tips/faq/index.js
  apps/digiroom-cms/src/pages/news-tips/index.js
  apps/digiroom-cms/src/service/news-tips-dashboard/news-tips-dashboard.js
Due: none

Update index.js
  apps/digiroom-cms/src/components/Table/index.js
Due: none

chore: add additionalClassname props
  packages/shared/ui/components/atoms/Dropdown/index.js
Due: azure-pipelines.yml

feat: create component SubscriptionForm
  packages/shared/ui/components/molecules/SubscriptionForm/index.js
  packages/shared/ui/components/molecules/index.js
Due: azure-pipelines.yml

feat: create component FormFaqSection
  packages/shared/ui/components/organism/BranchInfoSection/index.js
  packages/shared/ui/components/organism/FormFaqSection/index.js
  packages/shared/ui/components/organism/index.js
Due: azure-pipelines.yml

remove console.log
  apps/digiroom-cms/src/components/LayoutForm/LayoutFormPageNewsAndTips/index.js
  apps/digiroom-cms/src/components/LayoutForm/index.js
  apps/digiroom-cms/src/pages/loading/index.js
  apps/digiroom-cms/src/pages/news-tips/index.js
  apps/digiroom-cms/src/pages/promo/index.js
Due: none

remove console.log
  apps/digiroom-cms/src/pages/news-tips/add-news-tips/index.js
  apps/digiroom-cms/src/pages/promo/add-promo/index.js
Due: none

fix and adjustment at articles
  apps/digiroom-news/package.json
  apps/digiroom-news/src/pages/api/news.js
  apps/digiroom-news/src/pages/articles/[slug]/index.js
  apps/digiroom-news/src/pages/articles/index.js
  apps/digiroom-news/src/pages/articles/success/index.js
  package-lock.json
  packages/shared/ui/components/atoms/ShareButton/index.js
  packages/shared/ui/components/organism/DetailArticleBodySection/index.js
  packages/shared/ui/components/organism/Footer/index.js
  packages/shared/ui/components/organism/InquirySuccess/InquirySuccess.js
  packages/shared/ui/components/organism/Navbar/index.js
Due: azure-pipelines-digiroom-news.yml, azure-pipelines.yml

chore: add dropdown icon
  packages/shared/ui/components/atoms/Icons/DropDownArrow/index.js
  packages/shared/ui/components/atoms/Icons/index.js
  packages/shared/ui/components/organism/BranchInfoSection/index.js
Due: azure-pipelines.yml

integration api promo get
  apps/digiroom-cms/src/pages/promo/index.js
  apps/digiroom-cms/src/service/apiCMS/api-config.js
  apps/digiroom-cms/src/service/promo-dashboard-homepage/promo-dashboard.js
Due: none

Add Organism Branch Map Section Component
  apps/digiroom-product-knowledge/src/pages/index.js
  packages/shared/ui/components/molecules/BranchFilter/index.js
  packages/shared/ui/components/organism/BranchListSection/index.js
  packages/shared/ui/components/organism/BranchMapSection/index.js
  packages/shared/ui/components/organism/index.js
Due: azure-pipelines.yml

Remove from pages
  apps/digiroom-product-knowledge/src/pages/index.js
Due: azure-pipelines.yml

integration api create, update, delete promo
  apps/digiroom-cms/.env.local
  apps/digiroom-cms/src/components/Breadcrumb/index.js
  apps/digiroom-cms/src/components/FormPromo.js
  apps/digiroom-cms/src/components/LayoutForm/Dropzone/index.js
  apps/digiroom-cms/src/constants/promo/index.js
  apps/digiroom-cms/src/layout/index.js
  apps/digiroom-cms/src/pages/news-tips/add-news-tips/index.js
  apps/digiroom-cms/src/pages/news-tips/index.js
  apps/digiroom-cms/src/pages/promo/add-promo/index.js
  apps/digiroom-cms/src/pages/promo/duplicate-promo/[slug]/index.js
  apps/digiroom-cms/src/pages/promo/index.js
  apps/digiroom-cms/src/pages/promo/update-promo/[slug]/index.js
  apps/digiroom-cms/src/service/apiCMS/index.js
  apps/digiroom-cms/src/service/azure/fileUpload.js
  apps/digiroom-cms/src/service/category.js
  apps/digiroom-cms/src/service/promo-dashboard-homepage/promo-dashboard.js
  apps/digiroom-cms/src/service/promo/index.js
Due: none

fix: adding constants for type
  apps/digiroom-cms/src/components/FormPromo.js
  apps/digiroom-cms/src/constants/promo/index.js
  apps/digiroom-cms/src/constants/type/index.js
  apps/digiroom-cms/src/pages/news-tips/add-news-tips/index.js
  apps/digiroom-cms/src/pages/promo/duplicate-promo/[slug]/index.js
  apps/digiroom-cms/src/pages/promo/index.js
  apps/digiroom-cms/src/pages/promo/update-promo/[slug]/index.js
Due: none

fix and import adjustment for all icons
  apps/digiroom-cms/src/pages/article/index.js
  apps/digiroom-news/src/pages/index.js
  packages/shared/ui/components/atoms/Icons/AppleIcon/index.js
  packages/shared/ui/components/atoms/Icons/AstraIcon/index.js
  packages/shared/ui/components/atoms/Icons/GeoLocation/index.js
  packages/shared/ui/components/atoms/Icons/SatuIndonesiaIcons/index.js
  packages/shared/ui/components/atoms/Icons/ToyotaIcon/index.js
  packages/shared/ui/components/atoms/Icons/index.js
  packages/shared/ui/components/atoms/ModalShare/index.js
  packages/shared/ui/components/atoms/index.js
  packages/shared/ui/components/molecules/BranchCard/index.js
  packages/shared/ui/components/molecules/QuickLink/index.js
  packages/shared/ui/components/organism/Footer/index.js
  packages/shared/ui/components/organism/Navbar/index.js
  packages/shared/ui/components/organism/SocialMediaLinksSection/index.js
Due: azure-pipelines-digiroom-news.yml, azure-pipelines.yml

fixing
  packages/shared/ui/components/organism/DetailArticleBodySection/index.js
  packages/shared/ui/components/organism/FormFaqSection/index.js
Due: azure-pipelines.yml

add review section component
  packages/shared/ui/components/atoms/Icons/ArrowForward/index.js
  packages/shared/ui/components/atoms/Icons/Grade/index.js
  packages/shared/ui/components/atoms/Icons/index.js
  packages/shared/ui/components/organism/ReviewSection/index.js
  packages/shared/ui/components/organism/index.js
Due: azure-pipelines.yml

feat: create CurrentInformationSection component
  packages/shared/ui/components/molecules/CurrentInformation/index.js
  packages/shared/ui/components/molecules/index.js
  packages/shared/ui/components/organism/CurrentInformationSection/index.js
  packages/shared/ui/components/organism/index.js
Due: azure-pipelines.yml

change EN to ID language and adjust TabBar
  packages/shared/ui/components/molecules/TabBar/index.js
  packages/shared/ui/components/organism/Footer/index.js
  packages/shared/ui/components/organism/Navbar/index.js
Due: azure-pipelines.yml

use redux globally
  apps/digiroom-new-car-purchase/src/pages/_app.js
  apps/digiroom-news/src/pages/_app.js
  apps/digiroom-product-knowledge/src/pages/_app.js
  apps/digiroom-promo/src/pages/_app.js
  apps/digiroom/src/pages/_app.js
  packages/shared/ui/constants/screen-breakpoints.js
  packages/shared/ui/index.js
  packages/shared/ui/store/example/actions.js
  packages/shared/ui/store/example/constants.js
  packages/shared/ui/store/example/reducer.js
  packages/shared/ui/store/index.js
  packages/shared/ui/store/page/actions.js
  packages/shared/ui/store/page/constants.js
  packages/shared/ui/store/page/reducer.js
Due: azure-pipelines-digiroom-news.yml, azure-pipelines.yml

configure redux for mobile screen
  apps/digiroom-news/src/constants/screen-breakpoints.js
  apps/digiroom-news/src/pages/_app.js
  apps/digiroom-news/src/store/index.js
  apps/digiroom-news/src/store/page/actions.js
  apps/digiroom-news/src/store/page/constants.js
  apps/digiroom-news/src/store/page/reducer.js
  packages/shared/ui/components/organism/DetailArticleBodySection/index.js
Due: azure-pipelines-digiroom-news.yml, azure-pipelines.yml

update news tips and promo
  apps/digiroom-cms/src/components/LayoutForm/index.js
  apps/digiroom-cms/src/components/Table/index.js
  apps/digiroom-cms/src/components/modal-filter/index.js
  apps/digiroom-cms/src/components/modal-preview/index.js
  apps/digiroom-cms/src/components/modal-text/index.js
  apps/digiroom-cms/src/constants/implement-table/index.js
  apps/digiroom-cms/src/pages/news-tips/add-news-tips/index.js
  apps/digiroom-cms/src/pages/news-tips/index.js
  apps/digiroom-cms/src/pages/promo/add-promo/index.js
  apps/digiroom-cms/src/pages/promo/index.js
  apps/digiroom-cms/src/service/apiCMS/api-config.js
  apps/digiroom-cms/src/service/apiCMS/index.js
  apps/digiroom-cms/src/service/azure/fileUpload.js
  apps/digiroom-cms/src/service/news-tips-dashboard/news-tips-dashboard.js
  apps/digiroom-cms/src/service/promo-dashboard-homepage/promo-dashboard.js
Due: none

fixing add news tips, integrated news tips, add some feature
  apps/digiroom-cms/src/components/Table/index.js
  apps/digiroom-cms/src/constants/add-news-page/index.js
  apps/digiroom-cms/src/constants/implement-table/index.js
  apps/digiroom-cms/src/pages/news-tips/add-news-tips/index.js
  apps/digiroom-cms/src/pages/news-tips/index.js
Due: none

resolve conflict
  apps/digiroom-news/src/pages/_app.js
Due: azure-pipelines-digiroom-news.yml

fixing commented lines
  apps/digiroom-cms/.env.local
  apps/digiroom-cms/src/pages/news-tips/add-news-tips/index.js
  apps/digiroom-cms/src/pages/news-tips/index.js
  apps/digiroom-cms/src/pages/promo/index.js
Due: none
